.masthead {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    padding: var(--wp--preset--spacing--40) 0;
    transition: .5s ease-in;

    @media ($below-mobile) {
        padding: var(--wp--preset--spacing--30) 0;
        
    }

    .scrolled & {
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        padding: var(--wp--preset--spacing--20) 0;
    }   

    .wp-container-core-navigation-is-layout-1.wp-container-core-navigation-is-layout-1 {
        @media ($below-tablet) {
            justify-content: flex-end;
            
        }
    }

    @media ($below-tablet) {

        .wp-block-navigation__responsive-container.is-menu-open {
            height: 100dvh;
            background-color: var(--wp--preset--color--main-color) !important;

            .wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-icon {
                display: block;
            }

            ul.wp-block-navigation__container {
                width: 100%;

                a {
                    font-size: var(--wp--preset--font-size--body) !important;
                }

                ul.wp-block-navigation__submenu-container {
                    gap: var(--wp--preset--spacing--10);
                    padding: 0;
                    margin-top: var(--wp--preset--spacing--20);
                }
            }
        } 
        
    }

    .mobile-logo {
        display: none;
        @media ($below-tablet) {
            display: block;
            padding-top: var(--wp--preset--spacing--30);
            display: flex;
            justify-content: center;
        }
    }
}

/* Change the WordPress default css to a 992px media query */
@media (min-width: 992px) {
    .wp-block-navigation__responsive-container-open:not(.always-shown) {
        display: none !important;
    }
    .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
        display: block !important;
        width: 100%;
        position: relative;
        z-index: auto;
        background-color: inherit;
    }
}
/* Remove the WordPress default for 600px */
@media (min-width: 600px) {
    .wp-block-navigation__responsive-container-open:not(.always-shown) {
        display: flex;
    }
    .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
        display: none;
    }
}